* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #808ac5;
  --bg: #ffd1cf;
  --button-cl: #fab337;
  --pure-white: #ffffff;
  --card-bg: #21183c;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h4 {
  color: var(--pure-white);
  margin-bottom: 25px;
}
.data1 {
  padding: 2rem;
  border-radius: 5px;
  background-color: var(--card-bg);
  color: var(--text-color);
  position: relative;
}
.one {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
input[type="checkbox"] {
  accent-color: transparent;
}
input[type="checkbox"]:checked ~ label {
  color: white;
  transition: 0.3s ease;
}
.forplus {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21183c;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  right: -70px;
  transition: 0.3s ease;
}
.forplus:hover {
  background-color: #fab337;
  color: #21183c;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.data1,
.data2 {
  transition: 0.4s ease;
}
.data1:hover,
.data2:hover {
  transition: 0.4s ease;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
section {
  display: flex;
  gap: 10rem;
}
/*  */
.data2 {
  background-color: var(--card-bg);
  padding: 2rem;
  border-radius: 5px;
  color: var(--text-color);
  position: relative;
}
button {
  width: 100%;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--button-cl);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.passdown {
  margin-top: 30px;
}
.foritem {
  display: flex;
  gap: 16px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 5px;
  align-items: center;
  font-size: 1.2rem;
}

.foritem:hover {
  color: black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: background 0.3s linear;
  width: 150%;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  i,
  p {
    position: relative;
    left: 20px;
    transition: background 0.3s linear;
  }
}
button:hover {
  opacity: 0.6;
}
@media (max-width: 656px) {
  body {
    height: fit-content;
    padding: 3px 0;
  }
  section {
    flex-direction: column;
    gap: 1rem;
  }
  .forplus {
    margin-top: 1rem;
  }
}
